<p>---------------------------------News Article Here---------------------------------</p>

<h2>${properties.title}</h2>
<h4 class="blue-text">${properties.subtitle}</h4>
<p class="italic-style">By ${properties.author}</p>

<br>

<div>
<img src="${properties.picture}" alt="articleImage"/>
</div>


<hr>

<p>${properties.description}</p>

<style>

h2, h4, p {
	text-align: center;

}

.blue-text {
	color: blue;
}

.italic-style {
	font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>










